<div class="contentMain">
  <button class="registry" routerLink="">Login</button>
  <mat-card>
    <mat-card-title>Passwort vergessen</mat-card-title>
    <form (ngSubmit)="loginAsUser()" [formGroup]="user">
      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>E-Mail</mat-label>
          <input matInput formControlName="email" />
          <!-- <mat-error *ngIf="user.invalid">error</mat-error> -->
        </mat-form-field>
        <button [disabled]="true" class="submitButton" mat-raised-button>
          Senden
        </button>
      </mat-card-content>
    </form>
  </mat-card>
</div>
