<div class="mainContent">
  <mat-drawer-container class="example-container">
    <mat-drawer class="sidenav" mode="side" opened>
      <ul class="sidenav-items">
        <li>Dashboard</li>
        <li>Stellenangebot</li>
        <li routerLink="/profile">Profil</li>
        <li>Interview</li>
      </ul>
    </mat-drawer>
    <mat-drawer-content>
      <table
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8"
        matSort
        (matSortChange)="announceSortChange($event)"
      >
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sortiert nach Nummer"
          >
            Nr.
          </th>
          <td mat-cell *matCellDef="let element">{{ element.position }}</td>
        </ng-container>

        <!-- firstName Column -->
        <ng-container matColumnDef="firstName">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sortiert nach Vorname"
          >
            Vorname
          </th>
          <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
        </ng-container>

        <!-- lastName Column -->
        <ng-container matColumnDef="lastName">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sortiert nach Nachname"
          >
            Nachname
          </th>
          <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="job">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sortiert nach Job"
          >
            Job
          </th>
          <td mat-cell *matCellDef="let element">{{ element.job }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="termin">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sortiert nach Termin"
          >
            Termin
          </th>
          <td mat-cell *matCellDef="let element">{{ element.termin }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 15]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
