<div class="mainContent">
  <mat-drawer-container class="example-container">
    <mat-drawer class="sidenav" mode="side" opened>
      <section>Test</section>
      <section>Test2</section>
      <section>Test3</section>
      <section>Test4</section>
    </mat-drawer>
    <mat-drawer-content>
      <table
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8"
        matSort
        (matSortChange)="announceSortChange($event)"
      >
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sortiert nach Nummer"
          >
            No.
          </th>
          <td mat-cell *matCellDef="let element">{{ element.position }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sortiert nach Name"
          >
            Name
          </th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="gewicht">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sortiert nach Gewicht"
          >
            Gewicht
          </th>
          <td mat-cell *matCellDef="let element">{{ element.gewicht }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sortiert nach Symbol"
          >
            Symbol
          </th>
          <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
