// Default Background Color
$bgColorMain: #FAFAFA;

// Default Color Theme
$colorPrimary: #2EC4B6;
$colorPrimaryVariant: #CBF3F0;
$colorSecondary: #FF9F1C;
$colorSecondaryVariant: #FFBF69;

// Default Text Color
$textColor: #00004D;

// Default Link Color
$colorLink: #0645FF;
$colorLinkVariant: #060639;

// Default Button Color
$textColorButton: #0C4944;
$textColorButtonVariant: #00004D;
$colorButton: #FFBF69;
$colorButtonVariant: #FF9F1C;