@import "./src/style/color.scss";

.mainContent {
    height: calc(100% - 100px);
    display: flex;
}

.mat-drawer.mat-drawer-side {
  width: 400px;
  background-color: $colorPrimaryVariant;
}

.mat-elevation-z8 {
  width: 100%;
}

.mat-mdc-table {
  table-layout: fixed;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

th.mat-sort-header-sorted {
  color: black;
}

.sidenav-items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.8rem;
  height: calc(100% - 10rem);
  list-style-type: none;
  padding: 2rem 0;

  li {
    cursor: pointer;
    height: 4rem;
    display: flex;
    align-items: center;
    padding: 0 2rem;

    &:hover {
      background-color: $colorPrimary;
    }
  }

  .picture {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: $colorPrimary;
    margin-right: 1rem;
  }
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.mat-drawer-container {
 width: 100%;
}

 .mat-expansion-panel {
  margin: 1rem 5rem;
}

.mat-drawer-content {
  margin-top: 2.5rem;
}

.profile-img {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  background-color: $colorPrimary;
  margin-left: 5rem;
  margin-bottom: 2.5rem;
}

.overview {
  display: flex;
}

.mat-accordion {
  width: 100%;
}

.mat-mdc-form-field {
  margin: 1rem;
  width: 18rem;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
}

.mat-accordion>.mat-expansion-panel-spacing:last-child, .mat-accordion>*:last-child:not(.mat-expansion-panel) .mat-expansion-panel-spacing {
  margin-bottom: 1rem;
}
