<div class="mainContent">
  <mat-drawer-container class="example-container">
    <mat-drawer class="sidenav" mode="side" opened>
      <ul class="sidenav-items">
        <li routerLink="/dashboard"><img class="picture" src="../../../assets/svg/046-analytics.svg">Dashboard</li>
        <li><img class="picture" src="../../../assets/svg/086-development plan.svg">Stellenangebot</li>
        <li><img class="picture" src="../../../assets/svg/004-developer.svg">Profil</li>
        <li><img class="picture" src="../../../assets/svg/079-team.svg">Interview</li>
      </ul>
    </mat-drawer>
    <mat-drawer-content>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
