@import "style/color.scss";

* {
    margin: 0;
    // outline: 1px solid green;
}

html,
body {
    color: $textColor;
    font-family: 'Lato', sans-serif !important;
    background-color: $bgColorMain;
    cursor: default;
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 !important;
}

p {
    margin: 0 !important;
}

a {
    color: $colorLink;
    text-decoration: none;
    cursor: pointer !important;

    &:hover {
        color: $colorLinkVariant;
    }
}

button {
    color: $textColorButton;
    background-color: $colorButton;
    cursor: pointer !important;
    border: unset;
    border-radius: 6px;

    &:hover {
        background-color: $colorButtonVariant;
        color: $textColorButtonVariant;
    }
}